
.footer{
    background: url(../../FONDOS2/fondo-footer.webp) no-repeat;
}

.fondo-libros{
    width: 400px;
    height: 400px;
}

.gafas-img{
    width: 180px;
    height: 90px;
}

.libros-fondo-galeria{
    width: 950px;
}


@media (max-width: 1024px) {
    .fondo-libros{
        width: 300px;
        height: 300px;
    }
    .gafas-img{
        width: 140px;
        height: 70px;
    }
}

@media (max-width: 768px) {
    .fondo-libros,
    .gafas-img{
        display: none;
    }
}