  /* Estilo para la imagen de fondo */
  .fondo {
    display: block;
    width: 550px;
    max-width: 100%;
    height: auto;
  }
  
  /* Ocultar la imagen de fondo en dispositivos móviles */
  @media (max-width: 768px) {
    .fondo {
      display: none;
    }
  }
    